/* Align content center: */
body {
  text-align: center;
  font-family: Helvetica;
}

/* header style */
#header {
  background-image: url(../images/the-flatiron-building.png);

  color: white;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

ul {
  list-style: none;
  font-size: 18px;
  line-height: 2em;
}

/* link style */
a {
  color: white;
}

/* body design */
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

/* designed in new york */

h4 {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
  font-size: 23px;
  font-weight: bold;
  padding-top: 4px;
}

/* footer style */

#footer-nav {
  background-color: dimgrey;
  text-align: left !important;
  background-color: dimgrey;
  color: white;
  font-size: 11px;
}
