/* Align content center: */
body {
  text-align: center;
}

/* header style */
#header {
  background-image: url(../images/the-flatiron-building.png);

  color: white;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}

ul {
  list-style: none;
  font-family: Helvetica;
  font-size: 18px;
  line-height: 2em;
}

/* link style */
a {
  color: white;
}
